.container-class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-class {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.item-class {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.scrollbar-class {
    --scrollbar-thickness: 6;
    --scrollbar-hover-thickness: 10;
    --scrollbar-border-radius: 5px;
    --scrollbar-offset: 6;
    --scrollbar-track-color: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.5);
    --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.7);
}